@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: #edf3f3;
}

:root{
    --calc-background:#17171C;
    --calc-num-buttons:#2E2F38;
    --calc-operators:#4B5EFC;
    --calc-clear-button:#4E505F;
    --calc-numbers:#FFFFFF;
}

.container{
    width: 364px;
    height: 582px;
    background-color: var(--calc-background);
    margin: 50px auto;
    display: flex;
    justify-content: center;
    padding: 25px 20px;
}

.calc__inner{
    width: 324px;
    height: 532px;
    background-color: inherit;
}

.calc__output{
    width: 100%;
    height: 96px;
    background-color: inherit;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 96px;
    color: var(--calc-numbers);  
    margin-bottom: 12px;
}

.number__output{
    float: right;
}

.calc__buttons-inner{
    width: 100%;
    height: 440px;
    background-color: inherit;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,72px);
    grid-gap: 16px;
}

.buttons{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: var(--calc-num-buttons);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 72px;
    text-align: center;
    color:var(--calc-numbers);
    cursor:pointer;
}

.buttons:focus{
    color: red;
}

.buttons:hover{
    background-color: #40424e;
}

.operator{
    background-color: var(--calc-operators);
}

.operator:hover{
    background-color: #7baaf7;
}

.clear{
    background-color: var(--calc-clear-button);
    width:150px;
    grid-column: 1/3;
}

.clear:hover{
    background-color: #5d5f6e;
}

.zero{
    width:230px;
    grid-column: 1/4;
}
